* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #071022;
  --background-color: #e4eaf6;
  --primary-color: #6b92e1;
  --secondary-color: #e9effb;
  --accent-color: #16326a;
  color-scheme: light;
}

.dark-theme {
  --text-color: #e4eaf6;
  --background-color: #071022;
  --primary-color: #31466e;
  --secondary-color: #0c1d40;
  --accent-color: #4173d8;
  color-scheme: dark;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

html {
  scroll-padding-top: 6rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* General */
main {
  margin: auto;
  width: 70%;
}

.center {
  text-align: center;
}

.margin-top-sm {
  margin-top: 1.5rem;
}

i {
  color: var(--text-color);
}

h1 {
  margin-top: 5rem;
  font-size: 2.5rem;
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

/* Home page */
#home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.intro {
  font-size: 3rem;
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#more-arrow {
  position: absolute;
  bottom: 0;
}

.social a {
  padding: 0.5em;
}

.typed-cursor {
  animation: blink 0.75s infinite;
  color: var(--accent-color);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Nav bar */
nav {
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  height: 3.5rem;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
  z-index: 100;
}

.nav-menu li {
  display: inline-block;
  list-style: none;
  padding: 0 1em;
  cursor: pointer;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

#typewriter-container {
  width: max-content;
}

/* Mobile Nav */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color);
}

/* About */
#pfp img {
  border-radius: 20px;
  width: 400px;
  height: auto;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#about-me p {
  max-width: 70ch;
}

/* Skills */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  gap: 1rem;
}

.skill-card i {
  font-size: 5rem;
}

/* Projects */
.project-card-container {
  position: relative;
  width: 340px;
  height: 400px;
}

.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  background-color: var(--primary-color);
}

.project-card-container:hover .project-card {
  transform: rotateY(180deg);
}

.project-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.project-front-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1em;
}

.project-front-info p,
.project-front-info h3 {
  text-align: center;
  padding: 0.25em;
}

.project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transform: rotateY(180deg);
}

.project-back-info {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.project-back-info p {
  padding-top: 0.3em;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.tech-container img {
  padding: 0.125em;
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

/* Footer */
footer {
  margin-top: 6em;
  padding: 0.3em;
}

footer p {
  margin-top: 0.5em;
}

.social a i {
  transition: transform 0.2s linear;
}

.social a i:hover {
  transform: scale(1.3);
}

/* Animations */
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid var(--accent-color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 1.5s steps(40, end), blink-caret 0.75s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: var(--accent-color);
  }
}

/* Responsive */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .intro {
    font-size: 2.75rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  #pfp img {
    border-radius: 20px;
    width: 300px;
    height: auto;
  }

  .intro {
    font-size: 2.25rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2,
  p {
    font-size: 1rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 3.5rem;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .nav-item {
    margin: 1em 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .intro {
    font-size: 1.75rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .intro {
    font-size: 1.25rem;
  }

  #skills-info h2 {
    text-align: center;
    text-decoration: underline;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .skill-card i {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2,
  p {
    font-size: 0.9rem;
  }

  .social {
    font-size: 0.8rem;
  }

  .button {
    padding: 12px 28px;
    font-size: 13px;
    border-radius: 4px;
  }

  #pfp img {
    border-radius: 20px;
    width: 200px;
    height: auto;
  }
}
